// Acerca De

label{
    color: $color3;
    margin-left: 10px;
}

#formularios input, textarea{
    padding: 10px;
    width: auto;
}

#somos{
    width: auto;
    height: auto;
    padding: 10px;
}

#contacto{
    font-size: 30px;
}

#formularios{
    padding: 10px;
    width: auto;
    text-align: center;
}