// Main

h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.inicio{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.familia{
    width: 100%;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#presentacion{
    margin-top: 10px;
    font-size: 25px;
}

// Media Queries Index

@media only screen and (min-width: 767px) and (max-width: 1023px)  {
    h1{
        font-size: 80px;
        text-align: center;
    }
    
    .inicio{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 10px;
    }
    
    .familia{
        width: 100%;
        height: auto;
    }
    
    #presentacion{
        font-size: 40px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1024px){
    main{
        padding: 10px;
    }
    
    h1{
        font-size: 45px;
        font-weight: bold;
        text-align: left;
    }
    
    .inicio{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .familia{
        border-radius: 10px;
        width: 50%;
        height: auto;
    }
    
    #presentacion{
        margin-top: 0;
        margin-left: 15px;
        font-size: 3vw;
        height: auto;
    }
}