// Versiones

#versiones{
    padding: 10px;
    font-size: 30px;
    text-align: center
}

.contenedor3{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat (3, auto);
    font-size: 20px;
}

.itemmm{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.itemmm p{
    margin-top: 10px;
}

.version1 img{
    border-radius: 10px;
    width: $medida1;
    height: auto;
}

.version2 img{
    border-radius: 10px;
    width: $medida1;
    height: auto;
}

.version3 img{
    border-radius: 10px;
    width: $medida1;
    height: auto;
}

.contenedor4{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat (2, auto);
    font-size: 20px;
}

#videos{
    text-align: center;
}

.video{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.video1 iframe{
    margin-bottom: 10px;
}

.video2 iframe{
    margin-bottom: 10px;
}

// Media Queries Versiones

@media only screen and (min-width: 1024px) {
    #versiones{
        font-size: 40px;
    }
    
    .contenedor3{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 20px;
        grid-gap: 10px;
    }
    
    .itemmm{
        align-items: center;
        text-align: center;
    }
    
    .version1 img{
        height: auto;
        width: 30vw;
    }
    
    .version2 img{
        height: auto;
        width: 30vw;
    }
    
    .version3 img{
        height: auto;
        width: 30vw;
    }
    
    .contenedor4{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 20px;
        grid-gap: 10px;
    }
    
    #videos{
        margin-left: 10px;
    }
    
    .video{
        display: inline-flex;
        align-items: center;
        text-align: center;
    }
    
    .video1{
        margin-right: 10px;
    }
    
    .video2{
        margin-right: 10px;
    }
}