@font-face {
  font-family: Zurich Light BT;
  src: url(Fonts/Zurich\ Light\ BT.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: Zurich Light BT, sans-serif;
  height: auto;
  width: auto;
}

body {
  color: white;
  background-color: #0b2d84;
  height: auto;
}

header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: white;
}

.logo {
  padding-top: 1rem;
  height: auto;
  width: 250px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 28px;
  width: auto;
}

.nav-list li a {
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  color: #0b2d84;
  font-weight: bold;
}

footer {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

#redes a {
  font-size: 30px;
  color: black;
}

.footer a {
  text-decoration: none;
  color: black;
  font-size: 28px;
  gap: 1rem;
}

.footer a:hover {
  color: #0b2d84;
  font-weight: bold;
}

#redes a:hover {
  color: #0b2d84;
  font-weight: bold;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  header {
    display: flex;
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .logo {
    display: flex;
    height: auto;
    width: 740px;
  }
  .nav-list {
    font-size: 35px;
    display: flex;
    flex-direction: row;
    width: auto;
  }
  footer {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
  }
  #redes a {
    font-size: 70px;
  }
  .footer a {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
  }
  .logo {
    padding: 10px;
    height: 100px;
    width: auto;
  }
  .nav-list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
    font-size: 30px;
    gap: 1rem;
  }
  .nav-list li a {
    text-decoration: none;
    color: black;
  }
  .nav-list a:hover {
    color: #0b2d84;
    font-weight: bold;
  }
  footer {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #redes a {
    margin-right: 15px;
    font-size: 30px;
    float: right;
  }
  .footer a {
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
  }
  .footer a:hover {
    color: #0b2d84;
    font-weight: bold;
  }
  #redes a:hover {
    color: #0b2d84;
    font-weight: bold;
  }
}
h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.inicio {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.familia {
  width: 100%;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

#presentacion {
  margin-top: 10px;
  font-size: 25px;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  h1 {
    font-size: 80px;
    text-align: center;
  }
  .inicio {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
  }
  .familia {
    width: 100%;
    height: auto;
  }
  #presentacion {
    font-size: 40px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  main {
    padding: 10px;
  }
  h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: left;
  }
  .inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .familia {
    border-radius: 10px;
    width: 50%;
    height: auto;
  }
  #presentacion {
    margin-top: 0;
    margin-left: 15px;
    font-size: 3vw;
    height: auto;
  }
}
.marca {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.marca h1 {
  font-size: 42px;
  text-decoration: underline;
}

.marca h2 {
  font-size: 38px;
  text-decoration: underline;
}

.marca p {
  padding: 10px;
  font-size: 20px;
  height: auto;
}

.marca img {
  width: 80vw;
  height: auto;
}

#fiatarg {
  text-decoration: underline;
  text-align: center;
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
  width: auto;
}

.contenedor {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, auto;
  grid-gap: 10px;
}

.contenedor p {
  padding: 10px;
  font-size: 20px;
}

.item {
  align-items: center;
  text-align: center;
}

.item1 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.item2 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.item3 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .contenedor {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .contenedor p {
    font-size: 25px;
  }
  .marca h3 {
    text-align: center;
    font-size: 22px;
  }
  .marca {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .marca p {
    font-size: 25px;
  }
  .marca img {
    width: 500px;
  }
  #fiatarg {
    font-size: 40px;
  }
  .item1 img {
    width: 90%;
  }
  .item2 img {
    width: 90%;
    height: auto;
  }
  .item3 img {
    width: 90%;
  }
}
@media only screen and (min-width: 1024px) {
  .marca h3 {
    margin-bottom: 10px;
    font-size: 35px;
  }
  .marca img {
    margin-bottom: 10px;
    width: 40vw;
    height: auto;
  }
  .marca p {
    font-size: 25px;
  }
  .marca {
    display: flex;
    align-items: left;
    text-align: left;
  }
  #fiatarg {
    text-align: center;
    font-size: 35px;
  }
  .contenedor {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-content: center;
  }
  .item {
    align-items: center;
    text-align: center;
  }
  .item1 img {
    width: 32vw;
    height: auto;
  }
  .item2 img {
    width: 32vw;
    height: auto;
  }
  .item3 img {
    width: 32vw;
    height: auto;
  }
}
#elauto {
  font-size: 30px;
  text-decoration: underline;
}

.contenedor2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, auto;
}

.itemm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.itemm p {
  padding: 10px;
  font-size: 20px;
}

.fiat1 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.fiat2 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.fiat3 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  #elauto {
    font-size: 55px;
  }
  .itemm p {
    font-size: 25px;
  }
  .fiat1 img {
    width: 70vw;
  }
  .fiat2 img {
    width: 70vw;
  }
  .fiat3 img {
    width: 70vw;
  }
}
@media only screen and (min-width: 1024px) {
  #elauto {
    padding: 10px;
    font-size: 40px;
  }
  .contenedor2 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
  }
  .itemm {
    display: inline-flex;
    text-align: left;
    flex-direction: row;
  }
  .itemm p {
    font-size: 2vw;
  }
  .fiat1 img {
    width: 35vw;
  }
  .fiat2 img {
    width: 35vw;
  }
  .fiat3 img {
    width: 35vw;
  }
}
#versiones {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.contenedor3 {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat 3, auto;
  font-size: 20px;
}

.itemmm {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.itemmm p {
  margin-top: 10px;
}

.version1 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.version2 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.version3 img {
  border-radius: 10px;
  width: 80vw;
  height: auto;
}

.contenedor4 {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat 2, auto;
  font-size: 20px;
}

#videos {
  text-align: center;
}

.video {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video1 iframe {
  margin-bottom: 10px;
}

.video2 iframe {
  margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  #versiones {
    font-size: 40px;
  }
  .contenedor3 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
    grid-gap: 10px;
  }
  .itemmm {
    align-items: center;
    text-align: center;
  }
  .version1 img {
    height: auto;
    width: 30vw;
  }
  .version2 img {
    height: auto;
    width: 30vw;
  }
  .version3 img {
    height: auto;
    width: 30vw;
  }
  .contenedor4 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    grid-gap: 10px;
  }
  #videos {
    margin-left: 10px;
  }
  .video {
    display: inline-flex;
    align-items: center;
    text-align: center;
  }
  .video1 {
    margin-right: 10px;
  }
  .video2 {
    margin-right: 10px;
  }
}
label {
  color: white;
  margin-left: 10px;
}

#formularios input, textarea {
  padding: 10px;
  width: auto;
}

#somos {
  width: auto;
  height: auto;
  padding: 10px;
}

#contacto {
  font-size: 30px;
}

#formularios {
  padding: 10px;
  width: auto;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
