@font-face {
    font-family: Zurich Light BT;
    src: url(Fonts/Zurich\ Light\ BT.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Zurich Light BT, sans-serif;
}

// Variables

$color1: #0b2d84;
$color2: black;
$color3: white;

body{
    color: $color3;
    background-color: $color1;
}

// Header

header{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: $color3;
}

.logo{
    padding-top: 1rem;
    height: auto;
    width: 250px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    font-size: 28px;
    width: auto;
}

.nav-list li a {
    text-decoration: none;
    color: $color2;
}

.nav-list a:hover{
    color: $color1;
    font-weight: bold;
}


// Main

main{
    text-shadow: 0 0 5px $color2;
    padding: 10px;
}

h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.inicio{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.familia{
    width: 100%;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

#presentacion{
    margin-top: 10px;
    font-size: 25px;
}

// Footer

footer{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: $color3;
    padding: 0px;
    margin: 0px;
}

#redes a{
    font-size: 30px;
    color: $color2;
}

.footer a{
    text-decoration: none;
    color: $color2;
    font-size: 28px;
    gap: 1rem;
}

.footer a:hover{
    color: $color1;
    font-weight: bold;
}

#redes a:hover{
    color: $color1;
    font-weight: bold;
}

// Marca

.marca{
    padding: 10px;
}

.marca h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
}

.marca p{
    font-size: 25px;
    text-shadow: 5 5 5px $color2;
}

.marca img{
    margin-bottom: 10px;
    width: 320px;
    height: auto;
}

#fiatarg{
    text-decoration: underline;
    text-align: center;
    color: $color3;
    font-size: 30px;
}

.contenedor{
    padding: 10px;
    margin-bottom: 10px;
    height: 370px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.item{
    align-items: center;
    text-align: center;
}

.item1 img{
    border-radius: 10px;
    width: 350px;
    height: auto;
}

.item2 img{
    border-radius: 10px;
    width: 350px;
    height: 233px;
}

.item3 img{
    border-radius: 10px;
    width: 350px;
    height: auto;
}

// Vehiculo

#elauto{
    padding: 10px;
    font-size: 40px;
    text-decoration: underline;
}

.contenedor2{
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 300px);
    font-size: 23px;
    grid-gap: 10px;
}

.itemm{
    display: flex;
    align-items: center;
    text-align: left;
}

.fiat1 img{
    border-radius: 10px;
    width: auto;
    height: 290px;
    margin-right: 10px;
}

.fiat2 img{
    border-radius: 10px;
    width: auto;
    height: 290px;
    margin-left: 10px;
}

.fiat3 img{
    border-radius: 10px;
    width: auto;
    height: 290px;
    margin-right: 10px;
}

// Versiones

#versiones{
    padding: 10px;
    font-size: 40px;
}

.contenedor3{
    margin-bottom: 10px;
    padding: 15px;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;
    grid-gap: 10px;
}

.itemmm{
    align-items: center;
    text-align: center;
}

.version1 img{
    border-radius: 10px;
    height: 230px;
}

.version2 img{
    border-radius: 10px;
    height: 230px;
}

.version3 img{
    border-radius: 10px;
    height: 230px;
}

.contenedor4{
    margin-bottom: 30px;
    padding: 10px;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    grid-gap: 10px;
}

#videos{
    margin-left: 10px;
}

.video{
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.video1{
    margin-right: 10px;
}

.video2{
    margin-right: 10px;
}

// Acerca De

label{
    color: $color3;
    margin-left: 15px;
}

input, textarea{
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 8px;
}

#somos{
    margin-left: 15px;
    width: 750px;
    height: auto;
}